{:version      {:major 1
                :minor 10
                :patch 0}
 :version-type :semver3
 :changes      {:added      []
                :changed    []
                :deprecated []
                :removed    []
                :fixed      ["Updated the organization name in the POM file to `Wall Brew Co.`"]
                :security   []}
 :timestamp    "2024-09-20T16:41:55.023940098Z"}
