{:version      {:major 1
                :minor 7
                :patch 1}
 :version-type :semver3
 :changes      {:added      []
                :changed    []
                :deprecated []
                :removed    []
                :fixed      ["Compatibility issue with consumers using Clojure versions beneath 1.10"]
                :security   []}
 :timestamp    "2022-07-09T16:24:31.681779400Z"}
